workflow-n8n/AI Agent Whatsapp Oficial.json
{
  "name": "AI Agent Whatsapp Oficial",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "AiAgent",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -720,
        672
      ],
      "id": "7a3172ce-715f-4e7c-b24e-b470734c5515",
      "name": "Webhook",
      "webhookId": "d4e12259-1ef4-49e0-9a13-0ded98a1ead5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4080,
        880
      ],
      "id": "19ee3256-c3b6-486f-940d-1aeafc3c16f0",
      "name": "Encerrar envio"
    },
    {
      "parameters": {
        "content": "",
        "height": 608,
        "width": 1728,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        432
      ],
      "typeVersion": 1,
      "id": "8f5cb94d-92e9-4816-9b54-26a1a77295ac",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 608,
        "width": 1328,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        432
      ],
      "typeVersion": 1,
      "id": "6dd8d4e2-d677-4b97-86a4-fa19e3a95e86",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "height": 608,
        "width": 688,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2368,
        432
      ],
      "typeVersion": 1,
      "id": "3f263e14-d1bd-4d79-a845-aac9d5fdbc4c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "",
        "height": 576,
        "width": 1280,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1008,
        448
      ],
      "typeVersion": 1,
      "id": "410ad96a-7e63-4aa4-8e5f-fab819cc4719",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "",
        "height": 576,
        "width": 656,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2384,
        448
      ],
      "typeVersion": 1,
      "id": "2d7ef95b-8021-46cf-b008-880fd85aabbd",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "",
        "height": 576,
        "width": 1680,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -768,
        448
      ],
      "typeVersion": 1,
      "id": "480160bf-00d6-4107-a88c-90c43adfffbc",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Envio da Resposta.\n- LLM formata respostas do Ai Agent para enviar ao usuário.\n- Loop de envio: Para cada resposta da IA:\n  - Envia sinal de digitando.\n  - Envia a mensagem.\n  - Aguarda 3 segundos.\n- Finalização: Após o loop, o fluxo é encerrado.",
        "height": 576,
        "width": 1440,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3104,
        784
      ],
      "typeVersion": 1,
      "id": "5db80dee-7c5d-4826-9ceb-796cd2c9998b",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "",
        "height": 608,
        "width": 1472,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3088,
        768
      ],
      "typeVersion": 1,
      "id": "074749ea-83cf-4b87-aa1d-b5ddfa8a0088",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "478f496b-6cc5-48e8-87c1-a712757231e0",
              "leftValue": "={{ $json.from_me }}",
              "rightValue": "humano",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -112,
        608
      ],
      "id": "bae729e8-0789-4664-b88e-69f8659888d4",
      "name": "Verificar remetente"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 3) + 2 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4288,
        1040
      ],
      "id": "1fb0a891-d424-4470-aef1-c8b14fdf17c6",
      "name": "Aguardar1",
      "webhookId": "e0689fc6-acc1-4c26-b617-6aff22b97d6a"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3776,
        1024
      ],
      "id": "fe940519-6746-495d-aa8e-f0d029e21c01",
      "name": "Loop Mensagens1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini-2024-07-18"
        },
        "builtInTools": {},
        "options": {
          "frequencyPenalty": 0,
          "maxTokens": 800,
          "presencePenalty": 0,
          "temperature": 0.2,
          "topP": 1,
          "topLogprobs": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2400,
        672
      ],
      "id": "20021d5f-4d04-4a15-87ce-3df16c8246f5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "q4EUdZSwbvusXSeR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Editar Dados').item.json.message_content }}",
        "options": {
          "systemMessage": "=IDENTIDADE E PERSONA\nVocê é o GTVinho, assistente virtual do sistema GTV da SCGE-PE.\nResponda sempre em português, de forma direta e imperativa (ex: \"Clique em...\" em vez de \"O usuário deve clicar...\").\nLimite: máximo 300 palavras por resposta. Sem introduções longas. Pare no último passo.\n\n---\n\nSAUDAÇÕES E APRESENTAÇÕES\nSe o usuário apenas cumprimentar ou se apresentar (ex: \"Olá\", \"Meu nome é...\"), responda OBRIGATORIAMENTE com:\n\n\"Olá! Sou o GTVinho, seu assistente do sistema GTV. Como posso te ajudar hoje?\n(Para falar com um humano, digite Atendente a qualquer momento).\nPasso a passo de utilização do sistema: https://www.scge.pe.gov.br/\nAcesse o site da SCGE, clique na aba \"Sistemas\" e em seguida em \"Gerenciamento de Transferências Voluntárias e Parcerias (GTV)\".\"\n\nNÃO invoque o Supabase para saudações, nomes de pessoas ou cargos.\n\n---\n\nREGRA ABSOLUTA DE BUSCA\nÉ PROIBIDO responder qualquer dúvida técnica sem antes invocar a ferramenta supabase_vector_store.\nSua memória interna é considerada não confiável para o sistema GTV.\n\n---\n\nTRANSBORDO IMEDIATO\nGATILHOS: usuário pedir \"Atendente\", \"Humano\", perguntar sobre \"Convênio\" ou \"Solicitação de Esclarecimento\".\nAÇÃO: responda ÚNICA E EXCLUSIVAMENTE com a tag: #TRANSBORDO_GTV#\nPROIBIDO enviar qualquer texto junto com a tag.\n\n---\n\nFORA DE ESCOPO\nASSUNTOS PROIBIDOS: cultura geral, esportes, notícias, cálculos matemáticos, programação.\nRESPOSTA: \"Sinto muito, mas como assistente virtual da GTV, posso ajudar apenas com dúvidas técnicas sobre nossos processos e documentos oficiais. Como posso te ajudar com a GTV hoje?\"\n\n---\n\nCONSCIÊNCIA DE FLUXO:\nSe a mensagem atual for um complemento da anterior (ex: \"e para dispensa?\", \n\"muda alguma coisa?\", \"e o prazo?\"), identifique o tema da mensagem anterior \nno histórico e responda especificamente sobre a variação perguntada, \nsem repetir o passo a passo completo já enviado.\n\n---\n\nFLUXO DE RESPOSTA TÉCNICA\n1. Invoque supabase_vector_store com a dúvida do usuário.\n2. Leia TODOS os chunks retornados antes de formular a resposta.\n3. Priorize sempre as seções \"OBS\" — elas contêm as regras de negócio soberanas.\n4. Se a resposta estiver distribuída em mais de um chunk, combine as informações.\n5. Formule a resposta baseada EXCLUSIVAMENTE no conteúdo retornado.\n6. Se nenhum chunk retornado contiver a informação específica perguntada, responda:\n   \"O manual não detalha essa informação. Recomendo verificar diretamente \n   no sistema ou contatar o suporte da SCGE.\"\n   NUNCA complete com suposições ou informações da sua memória.\n\n---\n\nREGRAS DE FORMATO\n- Estilo imperativo: \"1) Clique em...\", \"2) Acesse...\"\n- Links: exiba apenas se estiverem no mesmo bloco do tópico. Formato: \"Assista ao tutorial: [Título] - [URL]\"\n- Diferenças: responda de forma comparativa e curta, sem passo a passo completo.\n- Contexto de conversa: se a mensagem for complemento da anterior (ex: \"e o prazo?\"), use o histórico para responder de forma curta sem repetir passos já enviados.\n\n---\n\nREGRAS ESPECÍFICAS DE NEGÓCIO\n\nSTATUS DE ENVIO:\nSe o Supabase retornar que o status \"Analisada com Pendência\" permite envio, responda:\n\"Sim, você consegue enviar. A proposta pode ser encaminhada se estiver com o status 'Em Cadastramento' ou 'Analisada com Pendência'.\"\nNão sugira resolver pendências antes de enviar se o manual autorizar o envio imediato.\n\nINEXIGIBILIDADE E DISPENSA:\nNunca defina ou explique o conceito jurídico de Dispensa ou Inexigibilidade \ncom base em legislação geral. Responda apenas com o que estiver no documento \nretornado pelo Supabase. Se o documento não detalhar o conceito, responda:\n\"O manual não detalha a definição jurídica. Para esclarecimentos conceituais, \nentre em contato com o suporte da SCGE.\"\n\nFORMULÁRIO DE ACESSO:\nSe perguntarem por \"formulário\", \"modelo de acesso\" ou \"solicitação de acesso\", busque com o termo exato: \"Solicitação de Acesso ao Sistema GTV\".\nEntregue o conteúdo retornado na íntegra, mantendo e-mails e links exatamente como estão.\n\nTUTORIAIS:\nSe o usuário pedir \"todos os vídeos/tutoriais\" ou disser \"não consigo acessar as vídeo aulas\", busque com: \"Segue abaixo um link de vídeo para mais informações\".\nResponda com: \"Aqui estão todos os nossos tutoriais em vídeo para te ajudar:\" seguido da lista.\nPule uma linha entre cada tutorial.\n\n---\n\nAGRADECIMENTOS\nSe o usuário agradecer, responda apenas: \"Por nada! Estou à disposição para ajudar com o GTV. Até logo!\"\n\n---\n\nHISTÓRICO DA CONVERSA\n{{ $json.memoria_completa }}\n\nPERGUNTA ATUAL\n{{ $node[\"Editar Dados\"].json.message_content }}",
          "maxIterations": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2400,
        496
      ],
      "id": "93af21fa-22fb-411b-88be-58d418d54745",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c55e79db-ef50-4c74-9502-68bb6852f658",
              "leftValue": "={{ $('AI Agent').item.json.output }}",
              "rightValue": "#TRANSBORDO_GTV#",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3152,
        432
      ],
      "id": "9043185f-d71c-485c-8693-4626b7eb5e79",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution-api:8080/message/sendText/AiAgent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "9E2B7A61F4D8C35A0B9E8D7F6C5A4B3210F9E8D7C6B5A4938271605B4A3D2E1B"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Editar Dados').item.json.message_from }}"
            },
            {
              "name": "text",
              "value": "={{ $json.mensagens_formatadas[0] || \"Desculpe, tive um problema ao processar sua resposta. Pode repetir?\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4080,
        1040
      ],
      "id": "8a1798d0-b6f3-4967-bcbe-21505d1f4efd",
      "name": "Enviar Mensagem1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution_api:8080/message/sendText/AiAgent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "9E2B7A61F4D8C35A0B9E8D7F6C5A4B3210F9E8D7C6B5A4938271605B4A3D2E1B"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Editar Dados').item.json.message_from }}"
            },
            {
              "name": "text",
              "value": "Sua solicitação foi enviada para nossa equipe técnica. Você será atendido em instantes."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3856,
        416
      ],
      "id": "1c6fa752-231c-4194-859e-995147b5948e",
      "name": "Enviar Mensagem2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution-api:8080/message/sendText/AiAgent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "9E2B7A61F4D8C35A0B9E8D7F6C5A4B3210F9E8D7C6B5A4938271605B4A3D2E1B"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Webhook').item.json.body.sender }}"
            },
            {
              "name": "text",
              "value": "=🚨 ALERTA DE SOLICITAÇÃO\n\nCliente: {{ $('Webhook').item.json.body.data.pushName }}\n\nResumo da conversa: \n{{ $('Resumo da conversa para atendente').item.json.text }}\n\n👇 CLIQUE NO LINK PARA ATENDER\nhttps://wa.me/{{ $('Editar Dados').item.json.message_from.split('@')[0] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4048,
        416
      ],
      "id": "a64db434-8b8c-484f-aae7-ad647a73a60d",
      "name": "Transbordo"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution-api:8080/chat/markChatUnread/AiAgent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "9E2B7A61F4D8C35A0B9E8D7F6C5A4B3210F9E8D7C6B5A4938271605B4A3D2E1B"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $node[\"Webhook\"].json.body.sender }}\",\n  \"unread\": true,\n  \"lastMessage\": {\n    \"key\": {\n      \"remoteJid\": \"{{ $node[\"Webhook\"].json.body.sender }}\",\n      \"fromMe\": false,\n      \"id\": \"{{ $node[\"Webhook\"].json.body.data.key.id }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4256,
        416
      ],
      "id": "a7613bbc-1dbd-4e9c-ae0f-b0a8da3323ac",
      "name": "Marcar como não lido"
    },
    {
      "parameters": {
        "content": "## Processo de Transbordo Humano\n- Validação (Nó IF): O fluxo verifica se o Agente de IA decidiu pelo transbordo (através de uma tag específica no conteúdo da resposta).\n- Execução do Alerta (3 Nós HTTP Request):\n   1) Notificação ao Cliente: O primeiro nó envia uma mensagem automática ao usuário informando que ele será transferido para um atendente humano.\n   2) Ação de Transbordo: O segundo nó executa a rota da Evolution API para desativar o Typebot ou marcar a instância, garantindo que a IA pare de responder aquele JID.\n  3) Sinalização Visual: O último nó envia o comando markChatUnread, forçando a notificação de \"não lido\" no painel do atendente para garantir a prioridade do atendimento.",
        "height": 576,
        "width": 1584,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3104,
        144
      ],
      "typeVersion": 1,
      "id": "9df128e3-78b5-4d7d-97d3-43e9723eb452",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "",
        "height": 608,
        "width": 1632,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3088,
        128
      ],
      "typeVersion": 1,
      "id": "bea86474-23c1-47e4-aea2-c1510f2ccfbd",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12f4c4c3-9f86-4ea4-aa80-cedb1b53c066",
              "name": "payload",
              "value": "={{ JSON.stringify({ \"id\": $('Editar Dados').item.json.message_id, \"content\": $('Editar Dados').item.json.message_content }) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        704
      ],
      "id": "8fac9838-91e0-4d31-a90f-58b02b114eff",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO \"content\" (session_id, sender_type, message, message_text) \nVALUES (\n  '{{ $node[\"Editar Dados\"].json.message_from }}', \n  'user', \n  '{\"role\": \"user\", \"text\": \"{{ $node[\"Editar Dados\"].json.message_content.replace(/'/g, \"''\") }}\"}'::jsonb,\n  '{{ $node[\"Editar Dados\"].json.message_content.replace(/'/g, \"''\") }}'\n) \nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        720,
        704
      ],
      "id": "e947e47d-8b94-466b-9dfb-094be88f6ab2",
      "name": "Publicar mensagem no banco",
      "credentials": {
        "postgres": {
          "id": "oBB2aJTwx24CCwzi",
          "name": "Postgres Supabase"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79c3f795-d66b-488d-a63f-e264f44778d0",
              "name": "=message_id",
              "value": "={{ $json.body.data.key?.id || \"\" }}",
              "type": "string"
            },
            {
              "id": "e831bf4c-88bd-4a04-91be-b738753d0485",
              "name": "message_from",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "ec420a5e-1820-4e07-9f0c-d452c4f11004",
              "name": "message_content",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "adbbdcc1-1ec4-4d56-944c-221304112ac2",
              "name": "message_timestamp",
              "value": "={{ $('Webhook').item.json.body.date_time }}",
              "type": "string"
            },
            {
              "id": "62b8dd6e-732a-452b-9a4d-819cd5e72748",
              "name": "push_name",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "6660414d-b817-41fa-9370-713eb7b77cc1",
              "name": "from_me",
              "value": "={{ $json.body.data.key.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "08f9f7d6-2be4-4db3-8da7-75e299df157f",
              "name": "botName",
              "value": "Atendimento GTV",
              "type": "string"
            },
            {
              "id": "755962a1-d1b0-4b0b-baf7-c9444dfa812f",
              "name": "remoteJid",
              "value": "={{ $json.body.data.key.previousRemoteJid }}",
              "type": "string"
            },
            {
              "id": "a691e02e-7dc0-4c5b-aa89-a745ae73210f",
              "name": "data_mensagem",
              "value": "={{ $json.body.data.messageTimestamp }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        672
      ],
      "id": "b8229c64-13e7-4720-b6dd-2deb864a58af",
      "name": "Editar Dados"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "cb205ff5-5bae-4d58-a6d2-cb6667ba80cf",
              "leftValue": "={{ $json.bloqueioBot }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        288,
        688
      ],
      "id": "c6ee3aea-fa6a-47d4-ad09-eaf76104848c",
      "name": "If1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano-2025-04-14"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3344,
        592
      ],
      "id": "80e12188-5e7d-45e2-9560-5a4f0d687c49",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "q4EUdZSwbvusXSeR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Contexto').item.json.memoria_completa }}",
        "messages": {
          "messageValues": [
            {
              "message": "Você é um assistente que prepara resumos de atendimento para humanos.\n\nSeu objetivo é resumir a conversa abaixo de forma clara e objetiva, \npara que o atendente humano entenda rapidamente o contexto antes de \nassumir o atendimento.\n\nESTRUTURA OBRIGATÓRIA DO RESUMO:\n\n- Motivo do contato: (o que o usuário queria resolver)\n- O que já foi tentado: (o que o GTVinho já respondeu ou orientou)\n- Motivo do transbordo: (por que o usuário pediu atendimento humano ou foi redirecionado)\n- Ponto de atenção: (alguma frustração, urgência ou informação importante que o atendente deve saber)\n\nREGRAS:\n- Use \"-\" nos bullet points\n- Seja direto e objetivo, máximo 5 linhas no total\n- Não invente informações que não estejam na conversa\n- Se algum campo não tiver informação suficiente, escreva \"Não identificado\"\n- Não cumprimente nem se despeça, entregue apenas o resumo"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        3344,
        416
      ],
      "id": "cd514a2b-05a3-4a33-b6e5-ee4134c99bf7",
      "name": "Resumo da conversa para atendente"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('AI Agent').item.json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "Você é um assistente de formatação especializado em WhatsApp. Sua função é organizar o texto técnico do GTVinho para torná-lo visualmente escaneável.\n\n# REGRA DE REPASSE DIRETO E PRESERVAÇÃO (CRÍTICO):\n\nMANUTENÇÃO DE BLOCO: É TERMINANTEMENTE PROIBIDO remover, truncar ou resumir o texto explicativo sobre o site da SCGE (https://www.scge.pe.gov.br/).\n\nINTEGRIDADE DA SAUDAÇÃO: Se o texto recebido começar com \"Olá! Sou o GTVinho\", você deve MANTER OBRIGATORIAMENTE todo o passo a passo de navegação no site da SCGE que segue abaixo da saudação.\n\nNÃO CORTAR: Se a mensagem recebida for longa, formate o bloco inteiro como uma única string dentro do array JSON.\n\n# FORMATAÇÃO OBRIGATÓRIA DA SAUDAÇÃO (SINTAXE WHATSAPP):\n\nNOME GTVinho: Mantenha \"GTVinho\" em texto normal, sem asteriscos.\n\nFRASE DE SUPORTE: A frase entre parênteses deve ser formatada EXATAMENTE assim (com o underline colado no parênteses): _(Para falar com um humano, digite *Atendente* a qualquer momento)._\n\nAJUSTE DE ESPAÇAMENTO: Após a frase de suporte entre parênteses, insira APENAS UMA quebra de linha (\\n) antes de começar o \"Passo a passo\". O objetivo é que o texto do site da SCGE comece imediatamente na linha de baixo, sem linhas em branco.\n\n# REGRAS DE VERTICALIZAÇÃO E LISTAS:\n\nQUEBRA POR PASSO: Cada número (1, 2, 3...) deve começar em uma nova linha (\\n).\n\nSUB-ITENS: Liste campos e abas com hífens logo abaixo do passo correspondente.\n\nESPAÇAMENTO DE TUTORIAL: Insira exatamente duas quebras de linha (\\n\\n) antes de \"Assista ao tutorial\".\n\n# REGRAS DE ESTILO (PADRÃO WHATSAPP):\n\nNEGRITO EM TERMOS: Aplique negrito (*Termo*) em nomes de botões, menus, campos, abas e funcionalidades (ex: Sistemas, GTV, Cadastro do Chamamento, Detalhar, Localizar).\n\nTUTORIAL: Formate exatamente assim: Assista ao tutorial: *Título do Vídeo* - URL\n\nLINK INSTITUCIONAL: O link https://www.scge.pe.gov.br/ deve ser mantido como texto simples, sem a frase \"Assista ao tutorial\" antes dele.\n\n# FORMATO DE SAÍDA (CRÍTICO):\n\nO array JSON deve conter EXATAMENTE UMA ÚNICA STRING com o texto completo.\n\nEXEMPLO DE ESTRUTURA CORRETA:\n[\"Olá! Sou o GTVinho, seu assistente do sistema GTV. Como posso te ajudar hoje?\\n_(Para falar com um humano, digite *Atendente* a qualquer momento)._\\n\\nPasso a passo de utilização do sistema: https://www.scge.pe.gov.br/\\nAcesse o site da SCGE, clique na aba *Sistemas* (na parte superior da tela inicial) e em seguida na aba *Gerenciamento de Transferências Voluntarias e Parcerias (GTV)*.\"]\n\n# REGRA DE TUTORIAL (TRAVA DE SEGURANÇA):\n\nÉ PROIBIDO adicionar a frase \"Assista ao tutorial\" se o texto original não trouxer um link de vídeo."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        3136,
        1024
      ],
      "id": "da5070d9-5746-45aa-bba2-6a9b8dc9a81f",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini-2025-04-14"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3136,
        1232
      ],
      "id": "7b898bb0-3296-4fb2-8817-5b1b1aa746d7",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "q4EUdZSwbvusXSeR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pega o texto bruto vindo do LLM\nlet rawText = $input.item.json.output || $input.item.json.text; \n\nif (typeof rawText === 'string') {\n  try {\n    // 1. Limpa espaços em branco no início/fim e caracteres de controle invisíveis\n    const cleanText = rawText.trim().replace(/[\\u0000-\\u001F\\u007F-\\u009F]/g, \"\");\n\n    // 2. Tenta o parse direto\n    const messagesArray = JSON.parse(cleanText);\n    \n    return {\n      mensagens_formatadas: Array.isArray(messagesArray) ? messagesArray : [messagesArray]\n    };\n  } catch (e) {\n    // 3. Fallback: Se falhar (como no erro do token '\\'), tenta limpar aspas extras\n    try {\n        // Remove possíveis quebras de linha literais que quebram o parser\n        const secondaryClean = rawText.replace(/\\n/g, \" \"); \n        return {\n            mensagens_formatadas: [JSON.parse(secondaryClean)]\n        };\n    } catch (e2) {\n        // Se tudo falhar, retorna o texto bruto dentro de um array para o WhatsApp não quebrar\n        return {\n          mensagens_formatadas: [rawText],\n          erro_original: e.message\n        };\n    }\n  }\n}\n\nreturn {\n  mensagens_formatadas: [rawText]\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3456,
        1024
      ],
      "id": "0d026006-3a11-419c-b8c2-e162459e66d8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "let redisValue = $('Pega o bloqueioBot').first().json.bloqueioBot;\nlet agora = new Date();\nlet horarioExpiracao = null;\n\nif (redisValue && typeof redisValue === 'string') {\n    horarioExpiracao = new Date(redisValue);\n}\n\nif (horarioExpiracao && !isNaN(horarioExpiracao.getTime()) && horarioExpiracao > agora) {\n    // SOMA: Adiciona 3 minutos (180.000ms)\n    let novoHorario = new Date(horarioExpiracao.getTime() + 180000); \n    \n    // Calcula o TTL inicial em segundos\n    let novoTTL = Math.round((novoHorario.getTime() - agora.getTime()) / 1000);\n\n    // --- TRAVA DE SEGURANÇA: MÁXIMO 1 HORA (3600 segundos) ---\n    if (novoTTL > 3600) {\n        novoTTL = 3600;\n        // Ajustamos o novo_valor para ser exatamente daqui a 1 hora\n        novoHorario = new Date(agora.getTime() + 3600000);\n    }\n    // ---------------------------------------------------------\n\n    return {\n        novo_valor: novoHorario.toISOString(),\n        novo_ttl: novoTTL,\n        status: \"SOMANDO_COM_LIMITE\"\n    };\n} else {\n    // INÍCIO: 10 minutos (600s)\n    let expiraEm = new Date(agora.getTime() + 600000); \n    return {\n        novo_valor: expiraEm.toISOString(),\n        novo_ttl: 3600,\n        status: \"NOVO_BLOQUEIO\"\n    };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        528
      ],
      "id": "94aa80b1-0463-4bcd-b863-1dd18ef1a699",
      "name": "Calcular Extensão"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "bloqueioBot",
        "key": "={{ $('Editar Dados').item.json.botName }}_{{ $('Webhook').item.json.body.data.key.previousRemoteJid || $('Webhook').item.json.body.data.remoteJid }}_bloqueado",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        96,
        688
      ],
      "id": "07cd4011-f5f1-4d18-bd9e-91746beb95be",
      "name": "Pega o bloqueioBot",
      "credentials": {
        "redis": {
          "id": "rj2Mij93p2L7s6D9",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Editar Dados').item.json.botName }}_{{ $('Webhook').item.json.body.data.key.previousRemoteJid || $('Webhook').item.json.body.data.remoteJid }}_bloqueado",
        "value": "={{ $json.novo_valor }}",
        "expire": true,
        "ttl": "={{ $json.novo_ttl }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        656,
        528
      ],
      "id": "3bf8ab8d-c394-4c0d-a51e-d629edc7118e",
      "name": "Aumenta o tempo do bloqueio",
      "credentials": {
        "redis": {
          "id": "rj2Mij93p2L7s6D9",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "59f4b65b-6afa-4f90-9962-fc9a0cbe6842",
              "name": "encerrar",
              "value": "={{ $('Editar Dados').item.json.message_content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        160
      ],
      "id": "7f7e728c-98d5-42c1-a93d-5202a85f1ce6",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9165de95-7949-4d9c-8d9c-7c70bfd2bc9e",
              "leftValue": "={{ $json.encerrar }}",
              "rightValue": "/encerrar",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        272,
        160
      ],
      "id": "7bf1160a-1b04-40f5-8357-bf7c8eee3a30",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Editar Dados').item.json.botName }}_{{ $('Webhook').item.json.body.data.key?.remoteJid || $('Webhook').item.json.body.data.remoteJid }}_bloqueado"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        720,
        80
      ],
      "id": "8456a00a-3ada-47e9-9086-6edadb69059f",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "rj2Mij93p2L7s6D9",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pega os dados do nó de entrada (Webhook)\nconst data = $('Webhook').first().json.body.data;\n\n// Extrai o identificador da conversa (pode ser o LID ou o próprio JID)\nconst remoteJid = data.key?.remoteJid || data.remoteJid;\n\nreturn {\n  lidKey: `Atendimento GTV_${remoteJid}_bloqueado`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        80
      ],
      "id": "35d202d1-becd-442a-9deb-e753bf8e0dad",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Editar Dados').item.json.botName }}_{{ $('Editar Dados').item.json.remoteJid }}_bloqueado",
        "value": "true",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4448,
        416
      ],
      "id": "fb365bc3-05be-46c4-9d22-49d84a46ee8f",
      "name": "bloqueioBot",
      "credentials": {
        "redis": {
          "id": "rj2Mij93p2L7s6D9",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 384,
        "width": 1168,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "47a8d11f-f0ba-4173-b250-5ef281407e1c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Encerramento de Atendimento Humano",
        "height": 352,
        "width": 1136,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        16
      ],
      "typeVersion": 1,
      "id": "f19dea53-d40b-4bff-8394-7c0a592c7d8a",
      "name": "Sticky Note12"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        496,
        240
      ],
      "id": "8c07a3c0-cdbb-42c7-b1c6-1dfbc889814d",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        1696
      ],
      "id": "29dce6c6-1540-45fb-9c88-e6b403c487f3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "hybrid_search"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -48,
        1696
      ],
      "id": "f07031fa-2da5-4f20-9aaf-a754ad8301cf",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "8SGdiGKn6hjC9Ilf",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -48,
        1888
      ],
      "id": "4b75dfe7-9275-4d41-8e56-920a655a9bda",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "q4EUdZSwbvusXSeR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        112,
        1856
      ],
      "id": "ab085102-c38e-45fe-b275-b14a5a45ab3b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "separator": "\\n",
        "chunkSize": 1200,
        "chunkOverlap": 200
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        112,
        2032
      ],
      "id": "7f3f921c-27e7-425f-914e-b327384fece6",
      "name": "Character Text Splitter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da44bb0c-42e7-4979-8cc2-93ed376d1b1e",
              "name": "data",
              "value": "Solicitação de Acesso ao Sistema GTV\n\nPara utilizar as funcionalidades do GTV, é necessário preencher o formulário de solicitação de acesso correspondente ao seu perfil. Identifique sua situação atual no sistema e-Fisco e siga as orientações abaixo: \n\n1. Já possui acesso ao e-Fisco.\nAção: Preencha o formulário de solicitação de acesso indicando as funcionalidades e os códigos de perfil (conforme anexo de atribuições).\nEnvio: Encaminhe o documento para gtv@scge.pe.gov.br.\nSuporte: Coordenação de Convênios de Despesa (SCGE).\n\n\n2. Não possui acesso ao e-Fisco.\nAção:  Preencha os formulários de cadastro no e-Fisco e o formulário de atribuição de perfil ao Módulo GTV.\nEnvio: Encaminhe ambos para cau@sefaz.pe.gov.br.\nSuporte: Central de Atendimento ao Usuário (SEFAZ).\n\nLink do Formulário GTV: https://drive.google.com/file/d/1vFHw2wDq4ryKAHHpjTa24x9R7b-Ny4zC/view\n\nImportante: A habilitação está condicionada ao envio dos formulários devidamente preenchidos. Em caso de dúvidas, utilize os canais de contato disponíveis neste portal.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        1696
      ],
      "id": "dd972210-0252-4ec1-9a14-cb799b932ed7",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "content": "## Processamento de Documentos\n",
        "height": 688,
        "width": 928,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -512,
        1536
      ],
      "typeVersion": 1,
      "id": "f5ce1617-b073-434f-bf3d-83465a51c893",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "",
        "height": 720,
        "width": 960,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -528,
        1520
      ],
      "typeVersion": 1,
      "id": "2881c29a-1cd6-4562-9ca7-6bf5e6a6518e",
      "name": "Sticky Note14"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -112,
        800
      ],
      "id": "f370e6bf-24fc-4040-9cf8-506d856b025e",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "92e76924-2613-46c1-b332-868e7a8ca8c3",
              "leftValue": "={{ $json.data_mensagem }}",
              "rightValue": "={{ Math.floor(Date.now() / 1000) - 300 }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -320,
        672
      ],
      "id": "c7e7dcb1-3f4b-446f-b762-1ef260066ee3",
      "name": "Somente mensagens novas"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1088,
        672
      ],
      "id": "30f37ae3-8d68-4d81-8194-edba9beba0c0",
      "name": "15s",
      "webhookId": "cc5eb512-2ac7-4b2f-ab5a-c4b8c617c2e7"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1760,
        848
      ],
      "id": "bb4c8e35-5037-4a44-97c7-693e9f9b7094",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT string_agg(historico, E'\\n') as memoria_completa\nFROM (\n    SELECT historico FROM (\n        SELECT sender_type || ': ' || COALESCE(message_text, message->>'text', message::text) as historico,\n               id\n        FROM \"content\"\n        WHERE session_id = '{{ $node[\"Editar Dados\"].json.message_from }}'\n          AND sender_type IN ('user', 'assistant')\n        ORDER BY id DESC\n        LIMIT 10\n    ) AS recentes\n    ORDER BY id ASC\n) AS subquery;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1808,
        656
      ],
      "id": "742d2f71-862c-45e4-8753-0bacb766d0e4",
      "name": "Contexto",
      "credentials": {
        "postgres": {
          "id": "oBB2aJTwx24CCwzi",
          "name": "Postgres Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO \"content\" (session_id, sender_type, message, message_text) \nVALUES (\n  '{{ $node[\"Editar Dados\"].json.message_from }}', \n  'assistant', \n  jsonb_build_object(\n    'role', 'assistant',\n    'text', '{{ $json.output.replace(/'/g, \"''\") }}'\n  ),\n  '{{ $json.output.replace(/'/g, \"''\") }}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2864,
        496
      ],
      "id": "e8eca05c-4ab9-4fa1-aeb3-3d54a5c52023",
      "name": "Salvar Resposta do Agent",
      "credentials": {
        "postgres": {
          "id": "oBB2aJTwx24CCwzi",
          "name": "Postgres Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id \nFROM \"content\" \nWHERE session_id = '{{ $node[\"Editar Dados\"].json.message_from }}' \nORDER BY id DESC \nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1344,
        672
      ],
      "id": "824d6d34-0ef0-49de-8633-b2b735e4f10f",
      "name": "Busca ID da mensagem",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "oBB2aJTwx24CCwzi",
          "name": "Postgres Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f82e127a-773f-489b-a9fc-12cb0a9b9b9b",
              "leftValue": "={{ $('Publicar mensagem no banco').item.json.id }}",
              "rightValue": "={{ $json.id }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1568,
        672
      ],
      "id": "58d88add-3ff8-4153-bc56-25da9f4b8991",
      "name": "Verifica ID da mensagem"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Busca informações técnicas no manual do sistema GTV sobre transferências voluntárias.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 7,
        "options": {
          "queryName": "hybrid_search_v3_claude"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2592,
        704
      ],
      "id": "14d3d17c-95d1-4e0b-b321-59c7bc414584",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "8SGdiGKn6hjC9Ilf",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2592,
        848
      ],
      "id": "092e7338-0b2a-448c-8530-fd312bd4ace6",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "q4EUdZSwbvusXSeR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.logs_atendimento (\n    session_id, pergunta, resposta, houve_transbordo, tipo_atendimento, tempo_resposta_ms, modulo\n)\nSELECT\n    '{{ $node[\"Editar Dados\"].json.message_from }}',\n    '{{ $node[\"Editar Dados\"].json.message_content.replace(/'/g, \"''\") }}',\n    '{{ $('AI Agent').item.json.output.replace(/'/g, \"''\") }}',\n    false,\n    'tecnico',\n    {{ Date.now() - $node[\"Tempo Início\"].json.tempo_inicio }},\n    '{{ $node[\"Identificar Módulo\"].json.modulo }}'\nWHERE '{{ $('AI Agent').item.json.output }}' != '#TRANSBORDO_GTV#'\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3008,
        496
      ],
      "id": "7159ce94-56fe-47bf-b25c-94db136e39c7",
      "name": "Log Atendimento",
      "credentials": {
        "postgres": {
          "id": "oBB2aJTwx24CCwzi",
          "name": "Postgres Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.logs_atendimento (\n    session_id,\n    pergunta,\n    resposta,\n    houve_transbordo,\n    tipo_atendimento\n)\nVALUES (\n    '{{ $node[\"Editar Dados\"].json.message_from }}',\n    '{{ $node[\"Editar Dados\"].json.message_content }}',\n    '{{ $node[\"Resumo da conversa para atendente\"].json.text }}',\n    true,\n    'transbordo'\n)\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3664,
        416
      ],
      "id": "f6a5f903-d75a-43aa-92ea-a0ee5ffdd79d",
      "name": "Log Transbordo",
      "credentials": {
        "postgres": {
          "id": "oBB2aJTwx24CCwzi",
          "name": "Postgres Supabase"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec2d731e-042a-4c9f-aced-b5e0d7deff61",
              "name": "tempo_inicio",
              "value": "={{ Date.now() }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2048,
        656
      ],
      "id": "fe86d29a-4174-4b98-8d24-2be7de8a5e56",
      "name": "Tempo Início"
    },
    {
      "parameters": {
        "jsCode": "const pergunta = $('Editar Dados').first().json.message_content.toLowerCase();\n\nconst modulos = [\n  { nome: \"Chamamento Público\", palavras: [\"chamamento\", \"dispensa\", \"inexigibilidade\", \"disponibilizar\", \"disponibilização\", \"edital\"] },\n  { nome: \"Cadastro de Ente\", palavras: [\"ente\", \"usuário\", \"usuários\", \"cadastro de ente\", \"cnpj\", \"organização social\", \"os \", \"cadastramento\"] },\n  { nome: \"Proposta\", palavras: [\"proposta\", \"encaminhar proposta\", \"responder exigência\", \"exigência\"] },\n  { nome: \"Parceria\", palavras: [\"parceria\", \"formalizar\", \"aditar\", \"aditivo\", \"termo de colaboração\", \"termo de fomento\"] },\n  { nome: \"Execução\", palavras: [\"execução\", \"empenho\", \"ingresso de recurso\", \"pagamento\"] },\n  { nome: \"Prestação de Contas\", palavras: [\"prestação de contas\", \"análise de pagamento\", \"financeira\", \"finalística\", \"plano de trabalho\", \"meta\"] },\n  { nome: \"Consultas Públicas\", palavras: [\"consulta pública\", \"consultas públicas\"] }\n];\n\nlet moduloIdentificado = \"Não identificado\";\n\nfor (const modulo of modulos) {\n  if (modulo.palavras.some(palavra => pergunta.includes(palavra))) {\n    moduloIdentificado = modulo.nome;\n    break;\n  }\n}\n\nreturn [{\n  json: {\n    ...$input.item.json,\n    modulo: moduloIdentificado\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        496
      ],
      "id": "3733455d-1292-45c6-8b6e-ffd005da5d96",
      "name": "Identificar Módulo"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "user-agent": "axios/1.10.0",
            "content-length": "1210",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "n8n:5678",
            "connection": "keep-alive"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "AiAgent",
            "data": {
              "key": {
                "remoteJid": "558191992524@s.whatsapp.net",
                "fromMe": false,
                "id": "3EB0E0AB8F2007171AE460",
                "senderPn": "558191992524@s.whatsapp.net",
                "previousRemoteJid": "33067171377382@lid"
              },
              "pushName": "Gabriel Moneta",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "Como fazer um cadastro de chamamento público?",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "2LrWqpyIwyDrBw==",
                    "senderTimestamp": "1777987335",
                    "senderKeyIndexes": [
                      4,
                      11,
                      0,
                      13
                    ],
                    "senderAccountType": "E2EE",
                    "receiverAccountType": "E2EE",
                    "recipientKeyHash": "MQJnLJi7IwAh5A==",
                    "recipientTimestamp": "1777467260"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "a94Ixik+oiiAJW55P1F0/aFbu+wrA6xC99mvxmYfgnY=",
                  "limitSharingV2": {
                    "sharingLimited": false,
                    "trigger": "UNKNOWN",
                    "limitSharingSettingTimestamp": "0",
                    "initiatedByMe": false
                  }
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1777990061,
              "instanceId": "671b04a7-fe81-469a-84dc-d82972bcd36c",
              "source": "web"
            },
            "destination": "http://n8n:5678/webhook/AiAgent",
            "date_time": "2026-05-05T11:08:45.136Z",
            "sender": "558194882008@s.whatsapp.net",
            "server_url": "http://localhost:8080",
            "apikey": "9E2B7A61F4D8C35A0B9E8D7F6C5A4B3210F9E8D7C6B5A4938271605B4A3D2E1B"
          },
          "webhookUrl": "http://localhost:5678/webhook/AiAgent",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Editar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar remetente": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pega o bloqueioBot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar1": {
      "main": [
        [
          {
            "node": "Loop Mensagens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Mensagens1": {
      "main": [
        [
          {
            "node": "Encerrar envio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Mensagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Identificar Módulo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Resumo da conversa para atendente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensagem1": {
      "main": [
        [
          {
            "node": "Aguardar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensagem2": {
      "main": [
        [
          {
            "node": "Transbordo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transbordo": {
      "main": [
        [
          {
            "node": "Marcar como não lido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar como não lido": {
      "main": [
        [
          {
            "node": "bloqueioBot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Publicar mensagem no banco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publicar mensagem no banco": {
      "main": [
        [
          {
            "node": "15s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editar Dados": {
      "main": [
        [
          {
            "node": "Somente mensagens novas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Calcular Extensão",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Resumo da conversa para atendente",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Resumo da conversa para atendente": {
      "main": [
        [
          {
            "node": "Log Transbordo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Mensagens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Extensão": {
      "main": [
        [
          {
            "node": "Aumenta o tempo do bloqueio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pega o bloqueioBot": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Somente mensagens novas": {
      "main": [
        [
          {
            "node": "Verificar remetente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15s": {
      "main": [
        [
          {
            "node": "Busca ID da mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contexto": {
      "main": [
        [
          {
            "node": "Tempo Início",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Resposta do Agent": {
      "main": [
        [
          {
            "node": "Log Atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca ID da mensagem": {
      "main": [
        [
          {
            "node": "Verifica ID da mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica ID da mensagem": {
      "main": [
        [
          {
            "node": "Contexto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Log Atendimento": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Transbordo": {
      "main": [
        [
          {
            "node": "Enviar Mensagem2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tempo Início": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identificar Módulo": {
      "main": [
        [
          {
            "node": "Salvar Resposta do Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3036c93f-a34d-41aa-aa44-bae0b9e27f1b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "58f220437058250a7b0e063f9040bb0f218677888ae8c12c1b95c0903af9970f"
  },
  "id": "d_T7RVuHi-P1mmNV3YL0I",
  "tags": [
    {
      "updatedAt": "2026-04-29T11:44:29.534Z",
      "createdAt": "2026-04-29T11:44:29.534Z",
      "id": "e27AvLDvdds8oAFp",
      "name": "01"
    }
  ]
}